<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body th:align="center">
    <p>
        <h3 >第一步</h3><<!--target="_blank"-->
        <a href="https://download.teamviewer.com/download/TeamViewer_Setup.exe" >点击此处下载TeamViewer</a>
    </p>

    <p>
        <h3 >第二步</h3><br/>
        <img th:src="@{/resources/images/TeamViewer/installTeamViewer01.png}"/>
    </p>
    <p>
        <h3 >第三步</h3>
    </p>
    <p>
        <h3 >第四步</h3>
    </p>
    <p>
        <h3 >第五步</h3>
    </p>


</body>
</html>